/* <<<<<<< HEAD
======= */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color:white;

}

.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;

    
    .logo{
        width: 90px;
        height: 50px;
        padding-top: 10px;
        font-weight: bold;
        p{
            color: black;
            span{
                color: #00af8c;
            }
        }
    }

    .ul{
        width: 100%;
        
        
 
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            list-style: none;
            li{
                margin-left: 10px;
                font-weight: bold   ;
                
                a{
                    text-decoration: none;
                    color: #00af8c  ;
                    
                    text-transform: capitalize;
                    
                }
            }
        }
    }




    .icon-bar{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 12px;
        top: 5px;
        text-align: right;
        padding-top: 10px;
        cursor: pointer;
        color: black;
        display: flex;
        flex-direction: column;
        align-items:self-end;
     
        

    }
}





/* start intero */
.banner{
    margin-bottom: 30px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    h1{
        text-align: left;
        margin-top: 30px;
        color: #00af8c;
        font-size: 30px;
        
        .span1{
            padding-left: 5px;
            border-left: 1px solid #00af8c;
            border-top: 1px solid #00af8c;
        }
      
       

    }
    button{
        width: 30%;
        border: 0;
        outline: none;
        border-radius: 10px;
        background-color: #00af8c;
        
    }
}

.items{
    
    .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: white;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
        div{
            padding: 0;
            
        }
        h3{
            color: #00af8c;
            font-size: 22px;
        }
        a{
            text-decoration: none;
            color: #00af8c;
            font-weight: 600;
            padding: 2px 5px 2px 0;
            border-bottom: 1px solid #00af8c;
            border-right: 1px solid #00af8c;

        }
        .item{
            border-radius: 10px;
            img{
                border-radius: 10px;
            }
        }
       
        
    }
    .fa-star{
        color: goldenrod;
    }

}

  

/*  end intro */




@media only screen and (min-width : 800px ){
    .icon-bar{
        display: none;
        opacity: 0;
        cursor: auto;
    }

    .search-input{
        width: 60%;
        input{
            width: 100%;
            padding: 0 5px;
            border: 0;
            background-color: white;
            font-size: 15px;
            outline: none;
            color: grey;
        }
    }
}


@media only screen and (max-width : 800px ){
    .nav-bar{
        display: block;
        overflow: hidden;
        height: 50px;
        .ul{
            
            ul{
                display: block;
                padding-top: 10px;
                padding-left: 0;
                border: 1px solid #00af8c;
                box-shadow: 0 4px 8px 0 rgba(26, 188, 156, .1), 0 0px 6px 0 rgba(26, 188, 156, 0.9);

                li{
                    
                }
            }
        }
    }
}


.search{
    display: flex;
    justify-content: center;

    .search-icon{
        color: black;
        background-color: #00af8c;
        padding-top: 5px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 5px;
        border: 2px solid #00af8c;
        border-right: 0;
        box-shadow: 0 4px 8px 0 rgba(26, 188, 156, .1), 0 0px 6px 0 rgba(26, 188, 156, 0.9);
    }
    .search-input{
        border: 2px solid #00af8c;
        width: 60%;
        border-left: 0;

        input{
            width: 100%;
            padding:5px;
            background-color: white;
            font-size: 15px;
            outline: none;
            color: black;
            border: 0;
            box-shadow: 0 4px 8px 0 rgba(26, 188, 156, .1), 0 0px 6px 0 rgba(26, 188, 156, 0.9);
            
        }
    }

    .search-input input::placeholder{
        font-size: 12px;
        color: gray;
    }
    

    .search-button{
        border:2px solid #00af8c;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
       button{
        border: 0;
        background: none;
        outline: none;
        background-color: #00af8c;
        padding: 5px;
        color: black;
        font-size: 15px;
        box-shadow: 0 4px 8px 0 rgba(26, 188, 156, .1), 0 0px 6px 0 rgba(26, 188, 156, 0.9);

     
       }
    }


}




.show-nav{
    height: 200px;
}








/* start projects show */


    

/* wrap for projects when screen width less than 800px */
@media only screen and (max-width :600px){
    .intro{
        margin-bottom: 40px;
        h1{
            text-align: left;
            margin-top: 30px;
            color: #00af8c;
            font-size: 30px;
            .span1{
                padding-left: 5px;
                border-left: 1px solid #00af8c;
                border-top: 1px solid #00af8c;
            }
          
    
        }
    }
    


    .items{
        
    
        .row{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            background-color: white;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 10px;
            div{
                padding: 0;
                
            }
            h3{
                color: #00af8c;
                font-size: 20px;
            }
            a{
                text-decoration: none;
                color: #00af8c;
                font-weight: 600;
                padding: 2px 5px 2px 0;
                border-bottom: 1px solid #00af8c;
                border-right: 1px solid #00af8c;
    
            }
           
            
        }
    
    }
    
}
/* end projects show */




/* >>>>>>> 705f495 (first commit) */